{# templates/emails/registration.html.twig #}
<h3>Votre compte a bien été créé.</h3>

<p>Commencer à créer des événements avec Pot's!</p>

<p>Pour cela il vous suffit de confirmer votre inscription: <a href="{{ url('confirm_email', {'id' : id}) }}">en cliquant sur ce lien</a>.<p>

<p>À bientôt!</p>
<br>
<p>L'équipe Pot's.</p>
